In [2]:
# import the dataset
import pandas as pd

In [13]:

df = pd.read_csv('/home/miki/Logistic-optimization/datasets/merged_result.csv')
df.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,1,392001,243828,accepted,6.602207,3.270465,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
1,2,392001,243588,rejected,6.592097,3.287445,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
2,3,392001,243830,rejected,6.596133,3.281784,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
3,4,392001,243539,rejected,6.596142,3.280526,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
4,5,392001,171653,rejected,6.609232,3.288800,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059

In [14]:
from haversine import haversine, Unit
def calculate_displacement(row):
    lat, lng = row['lat'], row['lng']
    if isinstance(row['trip_origin'], str):
        origin_lat, origin_lng = row['trip_origin'].split(',')
        origin_lat, origin_lng = float(origin_lat), float(origin_lng)
    else:
        origin_lat, origin_lng = row['trip_origin'], row['trip_origin']  # or some other default value
    distance = haversine((lat, lng), (origin_lat, origin_lng), unit=Unit.KILOMETERS)
    return distance

# Apply the function to each row and add the result as a new column
df['displacement'] = df.apply(calculate_displacement, axis=1)
df.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed,displacement
0,1,392001,243828,accepted,6.602207,3.270465,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.693616
1,2,392001,243588,rejected,6.592097,3.287445,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,1.554088
2,3,392001,243830,rejected,6.596133,3.281784,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.788354
3,4,392001,243539,rejected,6.596142,3.280526,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.694072
4,5,392001,171653,rejected,6.609232,3.288800,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,1.623331

In [15]:
df.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed,displacement
0,1,392001,243828,accepted,6.602207,3.270465,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.693616
1,2,392001,243588,rejected,6.592097,3.287445,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,1.554088
2,3,392001,243830,rejected,6.596133,3.281784,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.788354
3,4,392001,243539,rejected,6.596142,3.280526,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.694072
4,5,392001,171653,rejected,6.609232,3.288800,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,1.623331

In [16]:
# Replace 'rejected' with 0 and 'accepted' with 1 in the 'driver_action' column
df['driver_action'] = df['driver_action'].replace({'rejected': 0, 'accepted': 1})

# Save the modified DataFrame to a new CSV file
#data.to_csv("mergeds.csv", index=False)

In [17]:
df.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed,displacement
0,1,392001,243828,1,6.602207,3.270465,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.693616
1,2,392001,243588,0,6.592097,3.287445,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,1.554088
2,3,392001,243830,0,6.596133,3.281784,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.788354
3,4,392001,243539,0,6.596142,3.280526,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,0.694072
4,5,392001,171653,0,6.609232,3.288800,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059,1.623331

In [18]:
drop_cols = ['order_id','driver_id','lat','lng','trip_origin','trip_start_date','trip_destination','trip_start_date','id']

In [22]:
df = df.drop(columns=drop_cols)
df.head(5)

   driver_action  weekday  holiday  rain   distance       speed  displacement
0              1      1.0      0.0   0.0  13.039051  216.316059      0.693616
1              0      1.0      0.0   0.0  13.039051  216.316059      1.554088
2              0      1.0      0.0   0.0  13.039051  216.316059      0.788354
3              0      1.0      0.0   0.0  13.039051  216.316059      0.694072
4              0      1.0      0.0   0.0  13.039051  216.316059      1.623331

In [23]:

df.head(5)
df.to_csv('final.csv', index=False)

In [24]:
data = pd.read_csv('final.csv')

In [30]:
data.head(5)

   driver_action  weekday  holiday  rain   distance       speed  displacement
0              1      1.0      0.0   0.0  13.039051  216.316059      0.693616
1              0      1.0      0.0   0.0  13.039051  216.316059      1.554088
2              0      1.0      0.0   0.0  13.039051  216.316059      0.788354
3              0      1.0      0.0   0.0  13.039051  216.316059      0.694072
4              0      1.0      0.0   0.0  13.039051  216.316059      1.623331

In [31]:

#create an empty structure model.import warnings
import warnings
from causalnex.structure import StructureModel

warnings.filterwarnings("ignore")  # silence warnings

sm = StructureModel()

In [32]:
import numpy as np
struct_data = data.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

[]

In [33]:
import numpy as np

# Impute NaN with column means
for col in struct_data.columns:
    if struct_data[col].isnull().any():
        mean_value = struct_data[col].mean()
        struct_data[col].fillna(mean_value, inplace=True)

In [34]:
#struct_data.head(5)
#drop =['id']
#struct_data=struct_data.drop(columns=drop)
struct_data.head(5)

   driver_action  weekday  holiday  rain   distance       speed  displacement
0              1      1.0      0.0   0.0  13.039051  216.316059      0.693616
1              0      1.0      0.0   0.0  13.039051  216.316059      1.554088
2              0      1.0      0.0   0.0  13.039051  216.316059      0.788354
3              0      1.0      0.0   0.0  13.039051  216.316059      0.694072
4              0      1.0      0.0   0.0  13.039051  216.316059      1.623331

In [42]:

from causalnex.structure.notears import from_pandas
sm = from_pandas(struct_data)

In [ ]:
from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show("03_fully_connected.html")

In [ ]:
from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE
sm.remove_edges_below_threshold(0.8)
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)
viz.show("support01_thresholded.html")

In [ ]:
from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show("03_fully_connected.html")

In [47]:
sm = from_pandas(struct_data, tabu_edges=[( "weekday","displacement")], w_threshold=0.8)

In [ ]:
#sm = sm.get_largest_subgraph()
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)
viz.show("03_largest_subgraph.html")