In [15]:
import pandas as pd
order_df = pd.read_csv('Notebook/request.csv')
trip_df = pd.read_csv('Notebook/speed.csv')

In [16]:
merged_df = pd.merge(order_df, trip_df, left_on='order_id', right_on='Trip ID')

In [17]:
# Group the merged dataframe by order_id and calculate the trip information
grouped_df = merged_df.groupby('order_id').agg({
    'Trip Origin': 'first',
    'Trip Destination': 'first',
    'Weekday': 'first',
    'Trip_Start_Date': 'first',
    'Holiday': 'first',
    'rain': 'first',
    'Distance': 'first',
    'Speed': 'first'
})

In [18]:
# Reset the index to get a column for order_id
grouped_df = grouped_df.reset_index()

In [19]:

# Rename the columns to match the original order.csv dataframe
grouped_df = grouped_df.rename(columns={
    'Trip Origin': 'trip_origin',
    'Trip Destination': 'trip_destination',
    'Weekday': 'weekday',
    'Trip_Start_Date': 'trip_start_date',
    'Holiday': 'holiday',
    'rain': 'rain',
    'Distance': 'distance',
    'Speed': 'speed'
})

In [21]:
result_df = pd.merge(order_df, grouped_df, on='order_id', how='left')
result_df.tail(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
1557735,1557736,517948,243774,rejected,6.469036,3.566877,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",1.0,2021-09-10,0.0,0.0,5.041139,2.942776
1557736,1557737,517948,245447,rejected,6.425431,3.527358,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",1.0,2021-09-10,0.0,0.0,5.041139,2.942776
1557737,1557738,517948,239866,rejected,6.440013,3.525378,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",1.0,2021-09-10,0.0,0.0,5.041139,2.942776
1557738,1557739,517948,243774,rejected,6.469036,3.566877,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",1.0,2021-09-10,0.0,0.0,5.041139,2.942776
1557739,1557740,517948,244170,rejected,6.469390,3.572079,"6.443373599999999,3.5523123","6.500608199999999,3.5981937",1.0,2021-09-10,0.0,0.0,5.041139,2.942776

In [22]:
# Save the resulting dataframe to a new CSV file to inspect
result_df.to_csv('merged_result.csv', index=False)

In [10]:
order_df = order_df[['id', 'order_id', 'driver_id', 'driver_action', 'lat', 'lng']]

In [11]:
# Concatenate the original order.csv dataframe with the new columns
order_df = pd.concat([order_df[order_df.columns[:6]], grouped_df], axis=1)
order_df.tail()

,id,order_id,order_id,order_id,order_id,driver_id,driver_action,lat,order_id,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
1557735,1557736,517948,NaN,517948,NaN,243774,rejected,6.469036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557736,1557737,517948,NaN,517948,NaN,245447,rejected,6.425431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557737,1557738,517948,NaN,517948,NaN,239866,rejected,6.440013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557738,1557739,517948,NaN,517948,NaN,243774,rejected,6.469036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1557739,1557740,517948,NaN,517948,NaN,244170,rejected,6.469390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(order_df.columns)

Index(['id', 'order_id', 'driver_id', 'driver_action', 'lat', 'lng',
       'order_id', 'trip_origin', 'trip_destination', 'weekday',
       'trip_start_date', 'holiday', 'rain', 'distance', 'speed'],
      dtype='object')

In [9]:
print(grouped_df.columns)

Index(['order_id', 'trip_origin', 'trip_destination', 'weekday',
       'trip_start_date', 'holiday', 'rain', 'distance', 'speed'],
      dtype='object')

In [7]:

# Save the updated dataframe to a new CSV file
order_df.to_csv('order_with_trip_info.csv', index=False)